div {
  margin-left: 20px;
}
.thermometer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  height: 200px; /* Gesamthöhe des Thermometers */
  width: 60px;
}

/* Die Röhre des Thermometers */
.thermometer-tube {
  width: 20px;
  height: 150px;
  background-color: #e0e0e0;
  border-radius: 10px 10px 0 0;
  position: relative; /* Wichtig: Das fixiert die Flüssigkeit hier drin */
  border: 2px solid #ccc;
  border-bottom: none;
}

.thermometer-fluid {
  width: 100%;
  height: 0%; /* <--- DAS HIER HINZUFÜGEN als Startwert! */
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 0.5s ease-in-out, background-color 0.5s ease; 
  margin-left: 0px;
}

/* Die Kugel unten am Thermometer */
.thermometer-bulb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: -5px; /* Lässt Röhre und Kugel verschmelzen */
  border: 2px solid #ccc;
  transition: background-color 0.5s ease;
}